/*Estilos QR Generator*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background: #f2f2f2;
}

body {
	font-family: 'Open Sans', sans-serif;
}


h2 {
    
    padding: 20px;
    text-align: center;
    color: #424242;
}

.container {
	max-width: 90%;
	width: 400px;
	margin: 80px auto;
}

.form input[type='text'] {
	padding: 20px;
	border: none;
	background: #fff;
	width: 100%;
	border-radius: 5px;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
	font-size: 20px;
	margin-bottom: 20px;
	font-family: 'Open Sans', sans-serif;
}

.form .btn {
	width: 100%;
	border: none;
	background: rgb(0, 0, 0);
	color: #fff;
	cursor: pointer;
	padding: 20px;
	font-size: 20px;
	border-radius: 5px;
	font-family: 'Open Sans', sans-serif;
}

.form .btn:hover {
	background: #424242;
}


.btnDownload {
	width: 50%;
    margin: 0 25%;
	border: none;
	background: rgb(0, 0, 0);
	color: #fff;
	cursor: pointer;
	padding: 15px;
	font-size: 15px;
	border-radius: 5px;
	font-family: 'Open Sans', sans-serif;
}

.btnDownload:hover {
	background: #aadb08;
    color: black;
}

.containerQR {
	display: flex;
	justify-content: center;
	padding: 40px 0;
}